@charset "utf-8";


/* visual */
#visual {
  width: 100%;
  height: 425px;
  padding: 16px;
  color: #2b2321;
  background-color: #EBDDBC;
  position: relative;
}
#visual .swiper-slide {
  position: relative;
  width: 100%;
  height: 393px;
  display: block;
}
#visual .swiper-slide .txt_box {
  text-align-last: left;
  z-index: 1;
}
#visual .swiper-slide p {
  font-size: 1.6rem;
}
#visual .swiper-slide h2 {
  font-size: 2.8rem;
  margin: 8px 0;
}

#visual .v_icon {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 16px;
  bottom: 30px;
  z-index: 1;
}
#visual .v_icon div > div {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
#visual .v_icon div > p {
  font-size: 1.2rem;
  text-align: center;
}

#visual .v_icon .icon_age {background-image: url(../img/icon_age.png);  background-size: 20px auto;}
#visual .v_icon .icon_person {background-image: url(../img/icon_person.png);   background-size: 22px auto;}
#visual .v_icon .icon_time {background-image: url(../img/icon_time.png);   background-size: 28px auto;}

#visual .img_box {
  width: 100%;
  height: 100%;
  background-image: url(../img/game_01.png), url(../img/img.png);
  background-repeat: no-repeat;
  background-position: right -20px bottom 70px, right 120px bottom 80px;
  background-size: 279px auto, 225px auto;
  position: absolute;
  top: 0;
  left: 0;
}
#visual .slide01 .img_box{
  background-image: url(../img/game_01.png), url(../img/img.png);
}

#visual button {display: none;}

#visual .page {
  color: #fff;
  text-align: right;
  font-size: 1.6rem;
}


/* main // */
#main {
  padding: 16px;
}
#main h2 {
  font-size: 2.6rem;
  text-align: center;
}
#main span {
  color: #F17E13;
  display: block;
}
#main a {
  display: block;
}
.main_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main .m_box01 {
  width: 100%;
  height: 270px;
  border-radius: 0 80px 0 80px;
  background: url(../img/main_banner.png) no-repeat center / cover;
  margin-top: 20px;
  flex: 1 0 100%;
}
#main .m_box02 {
  height: 142px;
  background: #E23115;
  margin-top: 16px;
  padding: 20px;
  flex: 1 0 100%;
}
#main .m_box02 a .more {
  width: 100px;
  font-size: 1.5rem;
  color: #2b2321;
  background: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
}
#main h3, #main h4 {
  color: #fff;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
}
#main .m_box03 {
  height: 142px;
  border: #F17E13 5px solid;
  margin-top: 16px;
  padding: 30px;
  flex: 1 0 100%;
}
#main .m_box03 h4 {
  color: #333;
}
#main .m_box04, .m_box05 {
  height: 142px;
  background: #f17e13;
  margin-top: 16px;
  padding: 35px;
  flex: 1 0 100%;
}



/* silde */
#slide {
  height: 400px;
  background: #eee;
  padding: 16px;
  position: relative;
}
#slide h3 {
  color: #F17E13;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 16px;
}

#slide .slide_wrap {
  width: 100%;
  height: 277px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#slide .slide_wrap li {
  width: 100%;
}
#slide .slide_wrap a {
  font-size: 2rem;
  text-align: center;
}
#slide .slide_wrap img {
  width: 244px;
}
#slide .button {
  width: 16px;
  height: 30px;
  background: url(../img/slide_arr.png) no-repeat center ;
  position: absolute;
  bottom: 50%;
}
#slide .swiper-button-prev {
  left: 16px;
  transform: translateY(50%) rotate(180deg); 
}
#slide .swiper-button-next {
  right: 16px;
  transform: translateY(50%);
}



/* content */
#content {
  text-align: center;
}
#content .banner01 > a {
  display: block;
  width: 100%;
  height: 324px;
  background: url(../img/con_banner01.jpg) no-repeat center / 100% auto;
}
#content .banner02 > a {
  display: block;
  width: 100%;
  height: 324px;
  background: url(../img/con_banner02.jpg) no-repeat center / 100% auto;
}
#content img {
  width: 100%;
}
#content .txt_box {
  margin: 16px;
}
#content .txt_box h4 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}
#content .txt_box p {
  font-size: 1.4rem;
}
#content .con_bg {display: none;}




/* hire */
#hire {
  height: 112px;
  background: #F8BA51;
  padding: 16px;
}
#hire a {
  display: block;
}


/* f_link */
#f_link {
  height: 108px;
  background: #f17e13;
  padding: 16px;
}
#f_link .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#f_link .inner div {
  width: 156px;
  height: 34px;
  background: #fff;
  border-radius: 15px;
  flex: 0 1 calc(50% - 4px);
  margin-bottom: 8px;
  font-size: 1.2rem;
}
#f_link .inner div a {
  height: 34px;
  line-height: 34px;
  display: block;
  color: #f17e13;
  text-align: center;
}




/* ---------------------------------------768px */
@media (min-width : 768px ){
  #visual {
    padding: 32px;
  }
  #visual .swiper-slide h2 {
    font-size: 4.6rem;
  }
  #visual .v_icon {
    width: 244px;
    left: 32px;
  }
  #visual .v_icon div > div {
    width: 74px;
    height: 74px;
  }
  #visual .v_icon div p {
    font-size: 1.6rem;
  }
  #visual .v_icon .icon_age {background-size: 34px auto;}
  #visual .v_icon .icon_person {background-size: 40px auto;}
  #visual .v_icon .icon_time {background-size: 48px auto;}

  #visual .img_box {
    background-position: right 20px bottom 20px, right 160px bottom 90px;
    background-size: 350px auto, 376px auto;
  }

  #visual p.page {display: none;}
  .page_line {
    width: 100%;
    height: 7px;
    background: #2B2321;

  }
  .page_line li {
    width: 25%;
    height: 7px;
    float: left;
  }
  .page_line li:last-child {
    border-right: none;
  }
  .page_line li.on {
    background:#F17E13;
  }
  /* visual // */


  /* // main */
  #main {
    padding: 32px;
  }
  #main h2 span {
    display: inline;
  }
  #main .m_box01 {
    height: 480px;
  }

  #main .m_box02 {
    height: 243px;
    background-image: url(../img/bg_youtube.png);
    background-repeat: no-repeat;
    background-position: 85% 50px;
  }

  #main .m_box03{
    height: 120px;
    padding: 20px 92px;
    background-image: url(../img/img02.png);
    background-repeat: no-repeat;
    background-position: 92px 20px;
  }
  #main .m_box03 h4{
    text-align: right;
  }
  #main .m_box04, #main .m_box05 {
    width: calc((100% - 32px) / 2);
    height: 120px;
    padding: 20px;
    margin-top: 32px;
    flex: 1 1 30%;
  }
  #main .m_box04 {
    margin-right: 32px;
  }
  #main .m_box01, #main .m_box02,.m_box03,.box_wrap {
    margin-top: 32px;
  }


  /* slide */
  #slide {
    height: 495px;
    padding: 32px;
  }
  #slide h3 {
    margin-bottom: 32px;
  }
  #slide .slide_wrap li {
    width: 50%;
  }
  #slide button {
    bottom: 0px;
  }

  /* content */
  #content {
    padding: 60px 32px;
    height: 1340px;
    position: relative;
  }
  #content .banner01 {
    width: 428px;
    text-align: left;
    margin-bottom: 32px;
  }
  #content .banner02 {
    width: 428px;
    text-align: right;
    position: absolute;
    right: 32px;
  }
  #content .banner01 > a {
  height: 385px;
}
#content .banner02 > a {
  height: 385px;
}
  #content .txt_box {
    margin: 16px 0;
  }
  #content .txt_box h4 {
    font-size: 3.8rem;
  }
  #content .txt_box p {
    font-size: 2rem;
  }
  #content .con_bg {
    display: block;
    width: 50%;
    height: 1000px;
    border: 20px solid #F17E13;
    border-radius: 0 132px 0 132px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform:translatex(-50%);
    z-index: -20;
  }

  /* flink */
  #f_link {
    height: 200px;
    padding: 30px;
  }
  #f_link .inner div {
    height: 60px;
    border-radius: 25px;
    font-size: 2.6rem;
    margin-bottom: 20px;
  }
  #f_link .inner div a {
    line-height: 60px;
  }
}




/* ---------------------------------------1100px */
@media (min-width : 1100px ){
  #visual {
    padding: 0;
    height: 540px;
  }
  #visual .inner {
    padding-top: 100px;
    height: 540px;
  }
  #visual .swiper-slide h2 {
    font-size: 4.6rem;
    margin: 20px 0;
  }
  #visual .v_icon {
    width: 268px;
    left: 0px;
    bottom: 80px;
  }
  #visual .v_icon div p {
    font-size: 2rem;
  }
  #visual .img_box {
    background-position: right center, right 200px center;
    background-size: 500px auto, 520px auto;
  }

  #visual p.page {display: none;}

  /* //main */
  #main {
    padding-bottom: 80px;
  }
  #main h2 {
    font-size: 4.2rem;
  }
  #main .m_box01 {
    width: 748px;
    height: 500px;
    flex: 2 1 40%;
    margin-right: 20px;
  }
  #main .m_box02 {
    width: 364px;
    height: 500px;
    flex: 0 1 364px;
    padding-top: 80px;
    background-size: 300px auto;
    background-position: 0px 250px;
  }
  #main h4 {
    text-align: right;
  }
  #main .m_box03 {
    flex: 1 1 30%;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    background-position: 20px center;
  }
  #main .m_box04 {
    flex: 1 1 30%;
    margin-right: 20px;
    margin-top: 20px;
    padding: 25px;
  }
  #main .m_box05 {
    flex: 1 1 30%;
    margin-top: 20px;
    padding: 25px;
  }

  /* slide */
  #slide .button {
    bottom: 0px;
    /* align-self: flex-end; */
  }
  #slide .swiper-button-prev {
    left: 40%;
  }
  #slide .swiper-button-next {
    right: 40%;
  }

  /* content */
  #content .banner01 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
  }
  #content .banner02 {
    width: 100%;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end; 
  }
  #content .banner01 > a {

    width: 556px;
    height: 500px;
  }
  #content .banner02 > a {
    width: 556px;
    height: 500px;
  }
  #content .banner01 .txt_box {
    margin-left: 20px;
  }
  #content .banner02 .txt_box {
    margin-right: 20px;
  }

  /* flink */
  #f_link {
    height: 120px;
    padding: 0;
  }
  #f_link .inner {
    height: 120px;
    align-items: center;
  }
  #f_link .inner div {
    margin: 0;
    width: 268px;
    flex: 0 1 268px;

  }
}